# Ignore node_modules in frontend and server
/frontend/node_modules/
/server/node_modules/

# Ignore other typical files
*.log
.DS_Store
.env
*.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.idea/
.vscode/
dist/
build/
coverage/
